<div class="text-center">
  <div *ngIf="subscriptionAttempted == 'true'">
    <div class="alert alert-success" role="alert" *ngIf="subscriptionSuccessful == 'true'">
      Payment Success!
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="subscriptionSuccessful == 'false'">
      Payment failed!
    </div>
  </div>

  <div *ngIf="subscriptionEdited == 'true'">
    <div class="alert alert-success" role="alert">
      Subscription succesfully edited!
    </div>
  </div>

  <div class="form-signin">
      <form *ngIf="subscriptionsLoaded">
          <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="onUserAction()">
            {{ user.isSubscribed ? 'Manage Subscription' : 'Purchase Subscription'}}</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
  </div>
</div>
